{% extends 'layout.twig' %}

{% block body %}
  <section data-module="writing">
    <script>
      window.savedData = {{ page | json_encode }};
    </script>

    <module-settings hidden>
      {
        "id": "{{ page._id ?: '' }}"
      }
    </module-settings>
  </section>
{% endblock %}
