<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta charset="UTF-8">
    <title>{{ title ?: config.title }}</title>
    <meta property="og:title" content="{{ title ?: config.title }}" />
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:image" content>
    <link rel="stylesheet" href="/dist/main.css?v=3" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    {% include "components/header.twig" %}
    <div class="docs">
      <div class="docs__content">
        <div class="docs__content-inner">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="/dist/main.bundle.js?v=3" defer></script>
  </body>
</html>
