{% set tag = 'ul' %}

{% if style == 'ordered' %}
  {% set tag = 'ol' %}
{% endif %}

<{{ tag }} class="block-list">
  {% for item in items %}
    <li>
      {{ item }}
    </li>
  {% endfor %}
</{{ tag }}>
