.docs-aside {
  font-size: 15px;
  color: var(--color-text-second);

  a {
    text-decoration: none;
  }

  &__section {
    margin-bottom: 30px;

    &-title {
      margin-bottom: 15px;
      color: var(--color-text-second);
    }

    &-list {
      padding-left: 0;
      list-style: none;

      a {
        display: inline-block;
        color: inherit;
        padding: 8px 0;
      }
    }
  }

  &__add-page {
    text-decoration: none;
    color: black;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}

