.writing {
  display: flex;
  padding: 15px 0;
  margin-top: calc(-1 * var(--layout-padding-vertical));
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  box-shadow: 0 3px 10px #fff;

  &__button {
    @apply --button;

    &--save {
      margin-right: 10px;
    }

    &--cancel {
      @apply --button-secondary;
    }
  }

  &__left {
    margin: auto 0;
    color: var(--color-text-second);
  }
}

.codex-editor__redactor {
  padding-bottom: 60px;
}

.image-tool--withBackground .image-tool__image {
  background-color: #efefef !important;
}
